.button {
  display: inline-block;
  height: 58px;
  padding-right: 37px;
  padding-left: 37px;

  background: $accent-color;
  border-radius: 29px;

  line-height: 58px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.2s ease-in;

  &:hover {
    background: $accent-color-hover;
  }
  &--white {
    background-color: #fff;
    color: $black-color;
    &:hover {
      background-color: $black-color;
      color: #fff;
      transition: background-color 0.2s ease-in, color 0.2s ease-in;
    }
  }

  &--play {
    position: relative;
    padding-left: 50px;

    &::before {
      position: absolute;
      left: 30px;
      top: 50%;
      margin-top: 1px;
      transform: translateY(-50%);

      content: '';
      display: block;
      width: 12px;
      height: 12px;

      background-image: url('./../../img/icons/play.svg');
      background-size: initial;
      background-repeat: no-repeat;
    }
  }
}
