.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__title {
  max-width: 460px;
  letter-spacing: 0.8px;
  font-size: 42px;
  line-height: 62px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  position: relative;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    right: -40px;
    top: -40px;

    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }
}
